<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3eaad0bea7.js" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom mb-4">
        <div class="container d-flex justify-content-center">
            <a href="" class="navbar-brand">BrandName</a>
            <form action="" class="form-inline w-100">
                <div class="input-group flex-fill">
                    <input type="search" name="" id="" class="form-control">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-primary rounded-right">Search</button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav d-flex flex-fill">
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'mainsite:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'mainsite:register' %}">Register</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a type="button" class="p-2 text-dark text-nowrap" href="{% url 'mainsite:cart' %}"><i class="fas fa-shopping-cart"></i> Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name }} {{ user.last_name }}</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainsite:logout' %}" type="button" class="p-2 text-dark text-nowrap">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if action %}
    <div class="alert alert-success">
        <div class="container">
            {{action}}
        </div>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>